Initial control value: <input [(ngModel)]="initialValue">
<button (click)="onBuildFormClick()" [disabled]="form">Build form</button>
<button (click)="onDestroyFormClick()" [disabled]="!form">Destroy form</button>

<ng-container *ngIf="form">
  <hr>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    Username: <app-my-input formControlName="username" [isPassword]="false"></app-my-input>

    <button type="submit">Submit</button>
  </form>

  <p><button (click)="onEnableDisableClick()">Enable/disable form</button></p>
  <p>Form touched: {{ form.touched }}</p>
  <p>Form value:</p>
  <pre>{{ form.value | json }}</pre>
</ng-container>

<hr>
Open console to check out the logging
