Initial control value: <input [(ngModel)]="initialValue">
<button (click)="onBuildFormClick()">Build form</button>
<button (click)="onDestroyFormClick()">Destroy form</button>

<ng-container *ngIf="form">
  <hr>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    Username: <app-my-input formControlName="username" [isPassword]="false"></app-my-input>

    <button type="submit">Submit</button>
  </form>

  <hr>

  Form touched: {{ form.touched }}

  <button (click)="onEnableDisableClick()">Enable/disable form</button>

  <hr>

  Form value:

  <pre>{{ form.value | json }}</pre>
</ng-container>
